/*---------------------*/
/*        Fontes       */
/*---------------------*/
@font-face {
  font-family: 'Roboto';
  src: "src/fonts/Roboto/Roboto-Regular.ttf"; }
@font-face {
  font-family: 'Roboto';
  src: "src/fonts/Roboto/Roboto-Bold.ttf";
  font-weight: 600; }
@font-face {
  font-family: 'Opens Sans';
  src: "src/fonts/Open_Sans/OpenSans-Regular.ttf"; }
@font-face {
  font-family: 'Opens Sans';
  src: "src/fonts/Open_Sans/OpenSans-Bold.ttf";
  font-weight: 600; }
h1, h2, h3, h4, h5, h6, button {
  font-family: 'Roboto', sans-serif !important; }

p, a, input, label, select, textarea, form, option {
  font-family: 'Open Sans', sans-serif !important; }

label {
  font-weight: bold; }

/*---------------------*/
/*   Cores do sistema  */
/*---------------------*/
.amarelo {
  background-color: #FFE52E !important; }

.verde {
  background-color: #52D981 !important; }

.rosa {
  background-color: #F294C0 !important; }

.azul {
  background-color: #6BDBFF !important; }

.padrao {
  background-color: #FFFFFF !important; }

/*---------------------*/
/*      CSS Reset      */
/*---------------------*/
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0; }

/*Main*/
main {
  width: 100%; }
  main section {
    padding: 3%; }
    main section .title {
      display: block;
      margin-bottom: 15px;
      color: #353839;
      text-transform: uppercase; }

.fundo-padrao {
  background-color: #87BF7E !important; }

/*---------------------*/
/*       Navbar        */
/*---------------------*/
.bg-navbar {
  background-color: #358C54 !important; }

.nav-item .nav-link {
  color: white !important;
  margin-right: 20px; }

header button {
  background-color: transparent;
  outline: none; }
header button:focus {
  outline: 0; }

/*---------------------*/
/*  Login e Cadastro   */
/*---------------------*/
.store {
  width: 100%;
  min-height: 115vh;
  background: #358C54; }

.box {
  background: whitesmoke;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  width: 30%;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.75); }
  .box h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2em; }
  .box .btn {
    width: 100%;
    background: #F294C0;
    color: #0D0D0D;
    margin-bottom: 15px; }
  .box p {
    text-align: center; }
  @media screen and (max-width: 1000px) {
    .box {
      width: 55%; } }
  @media screen and (max-width: 800px) {
    .box {
      width: 60%; } }
  @media screen and (max-width: 700px) {
    .box {
      width: 65%;
      padding: 50px; } }
  @media screen and (max-width: 500px) {
    .box {
      width: 70%;
      padding: 20px; } }

.form-input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 30px;
  border: 0;
  border-bottom: 1px solid #c1c1c1;
  background-color: whitesmoke;
  line-height: 1.6em; }

.form-input:hover, .form-input:focus {
  outline: 0;
  border-bottom: 1px solid #F294C0; }

.form-input::before {
  background-color: whitesmoke; }

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

/*---------------------*/
/*   Design das notas  */
/*---------------------*/
.form-notas {
  background-color: white;
  width: 25em;
  margin: 0 auto;
  padding: 2em;
  border-radius: 0.8em;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.75); }
  .form-notas input[type="text"] {
    outline: none;
    border-bottom: 1px solid #808080;
    width: 100%;
    margin-bottom: 0.5em;
    padding-bottom: 5px;
    font-weight: 800;
    background-color: transparent; }
  .form-notas textarea {
    resize: vertical;
    padding: 5px;
    outline: none;
    width: 100%;
    font-weight: 300;
    color: black;
    background-color: transparent; }
  .form-notas button {
    display: block;
    width: 100%;
    margin-top: 10px; }
  .form-notas select {
    margin-left: 3%;
    width: 87% !important; }

.card {
  padding: 1em;
  border-radius: 1em !important;
  width: 25em;
  margin: 25px 25px 25px 0;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.75); }
  .card input[type="text"] {
    outline: none;
    border-bottom: 1px solid #808080;
    width: 100%;
    margin-bottom: 0.5em;
    padding-bottom: 5px;
    font-weight: 800;
    background-color: transparent; }
  .card textarea {
    resize: vertical;
    padding: 5px;
    outline: none;
    width: 100%;
    font-weight: 300;
    color: black;
    background-color: transparent; }
  .card button {
    display: block;
    width: 100%;
    margin-top: 10px; }
  .card select {
    margin-left: 3%;
    width: 87% !important; }

.card-body {
  padding: 0; }

@media screen and (max-width: 600px) {
  #notas-importantes .card-group, #notas-restantes .card-group {
    margin: 0 auto; } }

.controles {
  display: none; }

/*---------------------*/
/*       INDEX         */
/*---------------------*/
.calltoaction {
  background: white;
  color: #358C54;
  font-weight: bold !important;
  width: 300px;
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.caixa {
  padding: 5%; }
  .caixa img {
    margin-bottom: 15px; }

#bloco-banner {
  padding-top: 10%;
  padding-bottom: 10%; }

#section-1 {
  background-color: #358C54;
  color: #FFFFFF; }
  #section-1 img {
    margin: 0 auto; }
  #section-1 h1 {
    font-size: 4em; }

#section-2 {
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: white; }

#section-3 {
  background-image: url(../src/img/cactus-img.jpeg);
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  color: whitesmoke; }
  #section-3 h2 {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-shadow: 0px 0px 20px #000000; }
  @media screen and (max-width: 600px) {
    #section-3 h2 {
      letter-spacing: 1px;
      font-size: 1.6em; } }

/*---------------------*/
/*       FOOTER        */
/*---------------------*/
footer {
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center; }
  footer a {
    margin-left: 1em;
    margin-right: 1em; }
  footer img {
    width: 25px;
    height: auto; }
  footer p {
    font-style: italic;
    margin-top: 2em; }

/*---------------------*/
/*       Config        */
/*---------------------*/
.configuracoes {
  width: 45%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: white !important; }
  @media screen and (max-width: 1000px) {
    .configuracoes {
      width: 50%; } }
  @media screen and (max-width: 800px) {
    .configuracoes {
      width: 60%; } }
  @media screen and (max-width: 700px) {
    .configuracoes {
      width: 70%; } }
  @media screen and (max-width: 500px) {
    .configuracoes {
      width: 80%; } }

/*# sourceMappingURL=estilo.css.map */
